nav {
  .row {
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.1px;
        color: #f9f9f9;
      }
    }
    .col-lg-6 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px;
      .lists {
        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 30px;
          li {
            a {
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              letter-spacing: 0.08px;
              text-decoration: none;
              color: #f9f9f9;
            }
          }
        }
      }
      .search {
        position: relative;
        input{
          border-radius: 10px;
          background-color: transparent;
          border: 1px solid #b43feb;
          width: 100%;
          padding:3px 10px;
          color: #f9f9f9;
        }
        .search-icon {
          position: absolute;
          width: 22px;
          height: 22px;
          font-size: 25px;
          color: #f9f9f9;
          cursor: pointer;
          right: 7px;
          top: 5px;
        }
      }
    }
    .col-lg-3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .btn {
        button {
          display: inline-block;
          width: 128px;
          padding: 8px 24px;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0.08px;
          color: #f9f9f9;
          border-radius: 24px;
          background-color: #b43feb;
          border: none;
        }
      }
      .ring{
        position: relative;
        .ring-icon{
            font-size: 22px;
            color: #f9f9f9;
        }
        p{
            position: absolute;
            color: #f9f9f9;
            background-color: #EC6083;
            border-radius: 50%;
            padding: 1px 6px;
            font-size: 10px;
            top: -5px;
            right: -4px;
        }
      }
      .profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        img{
            border-radius: 50%;
        width: 35px;
        height: 35px;
        object-fit: cover;
        }
        .arrow{
            color: #f9f9f9;
            font-size: 15px;
        }
      }
    }
  }
}
@media(max-width:1200px){
  nav{
    .container{
      .row{
        .col-lg-6{
          .search{
            input{
              display: none;
            }
          }
        }
        .subs{
        display: flex;
        gap: 3px;
        }
      }
    }
  }
}
@media(max-width:1005px){
  nav{
    .container{
      .row{
        .col-lg-6{
          .search{
            input{
              display: none;
            }
            .search-icon{
              display: none;
            }
          }
        }
        .subs{
        .btn{
          button{
            display: none;
          }
        }
        }
      }
    }
  }
}
@media(max-width:992px){
  nav{
    .container{
      .row{
        .col-lg-6{
          .lists{
            ul{
              display: none;
            }
          }
          
        }
        .logo{
          p{
            font-size: 30px;
          }
        }
        .subs{
          .ring{
            display: none;
          }
          .profile{
            display: none;
          }
        }
      }
    }
  }
}